@import './variables';


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  color: var(--color-primary-text);
  background: var(--color-background);
  font-family: var(--ff);
  font-size: var(--fs-body);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#app {
  display: flex;
  align-items: center;
  height: 100%;
}

main {
  padding: 0 var(--padding-mobile-x);
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  main {
    max-width: 63rem;
  }
}

table {
  width: 100%;
  font-size: var(--fs-basic);
  text-align: left;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}