:root {
    --padding-mobile-x: 1rem;
    --ff: 'Open Sans';
    --fs-body: 16px;
    --fs-basic: 0.85rem;
    --fw-bold: 600;
    --color-background: #FCFCFC;
    --color-primary-green: #29CD83;
    --color-secondary-green: #EFFAF5;
    --color-primary-text: #4d5156;
    --color-badge-text: rgba(0, 0, 0, 0.6);
    --color-badge-valid: #29CD83;
    --color-badge-expired: #FF8383;
    --color-badge-canceled: #DEDFE5;
    --table-header-shadow: 0px 0px 6px rgba(165,167,170,0.3);
}